h1 {
	color: #7FFF00;
	text-align: center;
	font-family: backto1982;
	font-size:100px;
}

#startbutton{
	background-color:#7FFF00;
	color:white
}

.answerchoice{
	background-color:#7FFF00;;
	color:white
}

h3,p {color:#7FFF00;
	text-shadow: 1px 1px 2px white, 0 0 25px white, 0 0 5px white;

}



#resetbutton{
	background-color:#7FFF00;;
	color: white;

}


h2{
color:white;
text-align:center;}

body{background-image:url('../images/background.png');
	



}
