h1 {
	color: #7FFF00;
	text-align: center;
	font-family: backto1982;
	font-size:100px;
}

#startbutton{
	background-color:yellow;
	color:#9932CC;
}

.answerchoice{
	background-color:yellow;
	color:#9932CC;
}

h3,p{color:#7FFF00;

}

#resetbutton{
	background-color:yellow;
	color:#9932CC;

}


h2{
color:yellow;
text-align:center;}

body{background-color:#9932CC;
	background-image:url("assets/images/background.png");

}
